 <template>
  <card>
    <h5 slot="header" class="title">Create Application</h5>

      <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="Name"
                  placeholder="Name"
                  v-model="application.name">
            </base-input>
        </div>
      </div>
       
    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="description"
                  placeholder="description"
                  v-model="application.description">
            </base-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="logo"
                  placeholder="logo"
                  v-model="application.logo">
            </base-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="homepage"
                  placeholder="homepage"
                  v-model="application.homepage">
            </base-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="authors"
                  placeholder="authors"
                  v-model="application.authors">
            </base-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="version"
                  placeholder="version"
                  v-model="application.version">
            </base-input>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="status"
                  placeholder="active/inactive/banned"
                  v-model="application.status">
            </base-input>
        </div>
    </div>
    
    <base-button style="margin-right : 5px;" @click="create()" slot="footer" type="primary" fill>Create</base-button>
    <base-button @click="cancel()" slot="footer" type="primary" fill>Cancel</base-button>

  </card>
</template>
<script>
export default {

    name:'CreateApplication',

    data(){
        return{
            application : {id:"0",name:"",description:"",logo:"",homepage:"",authors:"",version:"",status:""},
        }
    },

    methods:{

        create(){

            // console.log(this.user.username);
            // console.log(this.user.password);
            // console.log(this.user.role);

            if(this.application.name !="" && this.application.description !="" && this.application.status !=""){
                this.$emit("create",this.application);
            }
        },
    
        cancel(){
            this.$emit("cancel",this.application);
        }
    }
}
</script>
<style>
</style>
