<template>
    <div>
        <div class="container">
            <form @submit.prevent="submit">
                <label for="name">Displayer name</label>
                <input type="text" id="name" v-model="name" placeholder="Displayer name" />
                <label for="location">Displayer location</label>
                <input type="text" id="location" v-model="location" placeholder="Location" />
                <label for="password">Password</label>
                <input type="text" id="password" v-model="password" placeholder="Password" />
                <label for="protocol">Server protocol</label>
                <input type="text" id="protocol" v-model="protocol" placeholder="Server protocol" />
                <label for="url">Server url</label>
                <input type="text" id="url" v-model="url" placeholder="Server url" />
                <label for="port">Server port</label>
                <input type="text" id="port" v-model="port" placeholder="Server port" />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        this.$store.dispatch('connect').then(() => {
            this.loading = false;
            console.log('Ready: ' + this.$store.getters.ready);
            this.$router.push({ name: 'player' });
        }).catch(() => {
            console.log('couldnt connect from beginning, need to configure');
            // do nothing, configure as usual
        });
    },
    data() {
        return {
            name: '',
            location: '',
            password: '',
            protocol: window.location.protocol,
            url: window.location.hostname,
            port: window.location.port,
        };
    },
    methods: {
        submit() {
            this.$store.commit('configure', {
                name: this.name,
                location: this.location,
                password: this.password,
                protocol: this.protocol,
                url: this.url,
                port: this.port,
            });
            this.$store.dispatch('connect').then(() => {
                this.$router.push({ name: 'player' });
            }).catch((error) => {
                console.log('couldnt connect, error');
                alert(error);
            });
        },
    },
};
</script>

<style scoped lang="scss">
    .container {
        width:100%;
        display:flex;
        justify-content: center;

        form {
            display:flex;
            flex-direction:column;

            div {
                margin-bottom:0.5rem;
            }

            input {
                padding:0.2rem 0.5rem;
                border-radius:4px;
                border: 1px solid #919191;
            }
        }
    }
</style>
