<template>
    <div>
        <div ref="container" class="container"></div>
        <div class="overlay"></div>
    </div>
</template>

<script>
import { peer, socket } from '../server';

export default {
    call: null,
    watch: {
        socketPlayerId(val) {
            if (val !== null) this.checkConnect();
        },
        peerPlayerId(val) {
            if (val !== null) this.checkConnect();
        },
    },
    methods: {
        checkConnect() {
            if (this.peerPlayerId === this.socketPlayerId) {
                socket.socket.emit('displayer-ready');
            }
        },
        close() {
            this.streaming = false;
            this.peerPlayerId = null;
            this.socketPlayerId = null;
            if (this.$options.call !== null) {
                this.$options.call.close();
                this.$options.call = null;
            }
        }
    },
    mounted() {
        if (!this.$store.getters.ready) {
            this.$router.push({ name: 'config' });
        }
        const { container } = this.$refs;
        const video = document.createElement('video');
        video.classList.add('player');
        container.appendChild(video);

        socket.socket.on('session-ready', ({ player }) => {
            console.log(`got session-ready ${player}`);
            if (!this.streaming) this.socketPlayerId = player;
        });

        socket.socket.on('session-end', () => {
            this.close();
        });

        peer.peer.on('call', (call) => {
            this.$options.call = call;
            call.answer();
            const { peer } = call;
            console.log(`got call ${peer}`);
            if (!this.streaming) this.peerPlayerId = peer;
            call.on('stream', (remoteStream) => {
                video.srcObject = remoteStream;
                video.onloadedmetadata = () => {
                    this.streaming = true;
                    video.play();
                };
            });
            call.on('close', () => {
                this.close();
            });
            call.on('error', () => {
                this.close();
            });
        });
    },
    data() {
        return {
            socketPlayerId: null,
            peerPlayerId: null,
            streaming: false,
            call: null,
        };
    },
};
</script>

<style lang="scss">
    .container {
        .player {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
    }

    .overlay {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:10;
    }
</style>
