<template>
<div class="containerLogin modeLogin">
    <div> 
        <div class="login-popup-heading text-center">
            <h4 ><i  class="fa fa-lock black" aria-hidden="true"></i> Login </h4>                        
        </div>
            
        <form role="form" action="" @submit.prevent="login">
            <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="Username" name="username" v-model="username">
            </div>
             <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password" v-model="password">
             </div>
             <button type="submit" class="btn btn-default login-popup-btn" name="submit" value="1">Login</button>
        </form>
    </div>
</div>
</template>

<script>

import { userService } from '../helpers/user.services';

export default {
    name:'login',
    data(){
        return{
            username : '',
            password : '',
        }
    },
    methods:{

        login() {
            // localStorage.clear();

            // The username and the password must not be null
            if(this.username != "" && this.password != "") {
                userService.login(this.username, this.password).then(() =>{

                    // Save the username and the role with vuex-persist-state
                    userService.getUser(this.username)
                    .then(res => res.json())
                    .then(val => {
                        this.$store.commit('setUser',val);
                    })

                    //Go to the dashboard
                    this.$router.push('/home') ;

                    }).catch(err => {
                    alert(`Status ${err.status}`);
                });
            }
            else{
                alert("The username and the password must not be null");
            }
        }
    }
}
</script>

<style>
</style>

   