 <template>
  <card>
    <h5 id="editUserDiv" slot="header" class="title">Edit User</h5>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input id="username" label="Username" placeholder="Username" v-model="userEdit.username" disabled></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input id="password" type="password" label="Password" placeholder="Password" v-model="userEdit.password"></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input id="confirmPassword" type="password" label="Confirm Password" placeholder="Confirm Password" v-model="confirmPassword"></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input id="role" label="Role" placeholder="admin/moderator/read-only" v-model="userEdit.role"></base-input>
      </div>
    </div>

    <base-button
      style="margin-right : 5px;"
      @click="update()"
      slot="footer"
      type="primary"
      fill
    >Update</base-button>
    <base-button @click="cancel()" slot="footer" type="primary" fill>Cancel</base-button>
  </card>
</template>
<script>
export default {
  name: "EditUser",

  props: {
    user: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },

  // State
  data() {
    return {
      userEdit: {
        username: this.user.username,
        password: "",
        role: this.user.role
      },
      confirmPassword :"",
    };
  },

  methods: {
    update() {
      if (
        this.userEdit.username != "" &&
        (this.userEdit.password != "" && 
        this.userEdit.password != "" && 
        this.confirmPassword !=""
        ) &&
        (this.userEdit.role == "admin" ||
          this.userEdit.role == "moderator" ||
          this.userEdit.role == "read-only")
      ) {
        //console.log("CHILD");
        //console.log(this.userEdit);

        if(this.userEdit.password === this.confirmPassword){
        this.$emit("update", this.user,this.userEdit);
        }
        else{
           alert("Password must be the same");
        }
      }

      else{
        alert("Field must not be null or incorrect");
      }
    },
    cancel() {
      this.$emit("cancel");
    }
  }
};
</script>
<style>
</style>
