<template>
  <div>
    <!-- Dashboard for Users -->
    <div v-if="state=='RUN'">
      <!-- Global buttons -->
      <div id="rowTools">
        <span class="tools">
          <base-button
            :disabled="!(this.$store.getters.getUser.role === 'admin')"
            id="addBtn"
            @click="clickBtnAddUser()"
            class="tim-icons icon-simple-add"
            type="primary"
            fill
          ></base-button>
        </span>
      </div>

      <!-- Table Users-->
      <div class="row">
        <div class="col-12">
          <card :title="tableUsers.title">
            <div class="table-responsive">
              <BaseTableUsers
                v-on:delete="deleteUser"
                v-on:edit="clickBtnEditUser"
                :data="tableUsers.data"
                :columns="tableUsers.columns"
                thead-classes="text-primary"
              ></BaseTableUsers>
            </div>
          </card>
        </div>
      </div>
    </div>

    <!-- Edit User -->
    <div v-else-if="state=='EDIT'">
      <EditUser :user="this.currentUser" v-on:cancel="stateRun" v-on:update="updateUser"/>
    </div>

    <!-- Create User-->
    <div v-else-if="state=='CREATE'">
      <CreateUser v-on:cancel="stateRun" v-on:create="createUser"/>
    </div>
  </div>
</template>

<script>
import CreateUser from "@/pages/User/CreateUser";
import EditUser from "@/pages/User/EditUser";
import BaseTableUsers from "@/components/BaseTableUsers";
import { userService } from "@/helpers/user.services";

// Colums
const tableColumns = ["Role", "Username"];

export default {
  name: "Users",

  components: {
    CreateUser,
    EditUser,
    BaseTableUsers
  },

  data() {
    return {
      state: "RUN", //RUN - EDIT - CREATE
      currentUser: {},
      tableUsers: {
        title: "Users",
        columns: [...tableColumns],
        data: []
      }
    };
  },

  methods: {
    
    // Change the state to RUN to show the user table
    stateRun() {
      this.state = "RUN";
    },

    // Show the create page when the user click on the add btn
    clickBtnAddUser() {
      this.state = "CREATE";
    },

    // Click edit button
    clickBtnEditUser(user) {
      this.state = "EDIT";
      this.currentUser = user;
      this.currentOldUser = JSON.parse(JSON.stringify(user));
    },

    // The user click on button 'update' editmode
    updateUser(user, userEdit) {
      userService
        .patchUser(userEdit.username, userEdit.password, userEdit.role)
        .then(val => {
          if (val.status === 200) {
            user.username = userEdit.username;
            user.role = userEdit.role;
          } else {
            alert(`Status ${val.status}`);
          }
        });

      this.state = "RUN";
    },

    // Create the user
    createUser(user) {
      userService
        .postUser(user.username, user.password, user.role)
        .then(val => {
          if (val.status === 200) {
            this.tableUsers.data.push(user);
          } else {
            alert(`Status ${val.status}`);
          }
        });

      this.stateRun();
    },

    // Delete user
    deleteUser(user) {
      if (confirm(`Do you want to delete the user ${user.username}`)) {
        userService.deleteUser(user.username).then(val => {
          if (val.status === 200) {
            let index = this.tableUsers.data.findIndex(
              x => x.username === user.username
            );
            this.tableUsers.data.splice(index, 1);
          } else {
            alert(`Status ${val.status}`);
          }
        });
      } else {
        // Do nothing!
      }
    },

    loadElement() {
      userService
        .getUsers()
        .then(res => res.json())
        .then(val => {
          this.tableUsers.data = val;
      });
    }
  },
  beforeMount() {
    this.loadElement();
    //console.log("USER : " + this.$store.getters.getUser.role);
  }
};
</script>
<style>
</style>
