<template>
  <div>

      <md-dialog :md-active.sync="showDialog">
      <md-dialog-title>Change Displayer</md-dialog-title>

       <md-field>
        <label for="displayers">Displayer</label>
        <md-select v-model="displayerChoose" name="displayers" id="displayers">
          <md-option v-for="item in displayers" :value="item.name">{{ item.name }}</md-option>
          <!--<md-option value="displayer 1">displayer 1</md-option>
          <md-option value="displayer 2">displayer 2</md-option>
          <md-option value="displayer 3">displayer 3</md-option>-->
        </md-select>
      </md-field>


      <md-dialog-actions>
        <md-button class="md-primary" @click="closeDialog">Close</md-button>
        <md-button class="md-primary" @click="changeValue">Update</md-button>
      </md-dialog-actions>
    </md-dialog>


    <div v-if="state=='RUN'">
    <div class="row">
      <div class="col-12">
        <card :title="table1.title">
          <div class="table-responsive">
            <BaseTableSessions
              v-on:edit="editSession"
              v-on:show="showSession"
              v-on:delete="deleteSession"
              :data="table1.data"
              :columns="table1.columns"
              thead-classes="text-primary"
            ></BaseTableSessions>
          </div>
        </card>
      </div>
      </div>
    </div>
    <!-- Show ALL DATA SESSION -->
    <div v-else-if="state=='SHOW'">
     
      <ShowSession :player="exampleDataShow.player" :application="exampleDataShow.application" :displayer="exampleDataShow.displayer" v-on:cancel="stateRun" />

    </div>

  </div>
</template>

<script>
import BaseTableSessions from "@/components/BaseTableSessions";
import { BaseTable } from "@/components";
import Modal from "@/components/Modal";
import NotificationTemplate from "@/pages/Notifications/NotificationTemplate";
import { BaseAlert } from "@/components";
import "vue-material/dist/vue-material.min.css";
import { userService } from "@/helpers/user.services";
import ShowSession from "@/pages/Sessions/ShowSession";

const tableColumns = ["id","Player","Application","displayer"];

const tableData = [
  {
    id : "1",
    player : "user123",
    application : "Drawing",
    displayer : "Displayer Test",
  }
];

const exampleDataShow = [
  {
      player: {
      username: "test",
      status: "active"
    },

  }
]

export default {
  components: {
    BaseTableSessions,
    Modal,
    BaseAlert,
    NotificationTemplate,
    ShowSession
  },

  data() {
    return {
      table1: {
        title: "Sessions",
        columns: [...tableColumns],
        data: [...tableData]
      },
      state: "RUN", //RUN - SHOW
      showDialog : false,
      displayerChoose : "",

      currentSession : {},
      exampleDataShow : {
        "player": {
          "username": "string",
          "status": "active"
        },
        "application": {
          "name": "string",
          "logo": "string",
          "description": "string",
          "version": 0,
          "homepage": "string",
          "authors": [
          {
            "name": "string",
            "email": "string",
            "homepage": "string"
          }
      ],
      "status": "active"
    },

      "displayer": {
      "name": "string",
      "location": "string",
      "width": 0,
      "height": 0,
      "status": "active"
    }

    },

    displayers : "",
    };
  },

  methods: {

    closeDialog() {
      this.showDialog = false;
      //this.value = "";
    },

    changeValue(){

      this.currentSession.displayer = this.displayerChoose;
      this.closeDialog();

        userService
        .patchSession(this.currentSession.displayer.name,this.currentSession.id)
        //.then(res => res.json())
        .then(val => {
          console.log(val);
          //this.table1.data = val;
      });

    },

    // Change the state to RUN 
    stateRun() {
      this.state = "RUN";
    },

    editSession(session){

      console.log(session);
      this.currentSession = session;
      this.showDialog = true;
    },

    showSession(session){
      console.log(session);
      this.state = "SHOW";
    },

    deleteSession(session){
      if (confirm(`Do you want to delete the session ${session.id}`)) {
        console.log("ok" + session);
        userService.deleteSession(session.id).then(val => console.log(val))
        .catch(err => console.log(err));
      }
    },

    loadElement() {

      userService
        .getSessions()
        //.then(res => res.json())
        .then(val => {
          console.log(val);
          this.table1.data = val.data;
      });

   userService
        .getDisplayers()
        .then(res => res.json())
        .then(val => {
          console.log(val);
          this.displayers = val;
        });
    }

  },
    beforeMount() {
    this.loadElement();
  }
};
</script>

<style lang="scss" scoped>
.md-dialog {
  padding: 30px;
  max-width: 80%;
  min-width: 50%;
}
</style>