<template>
    <div>
        <div class="menu pt-4">
            <div class="container no-gutters">
                <div class="row" v-if="availableApps.length > 0">
                    <div class="col-6" v-for="app in apps" :key="app.key">
                        <app-menu-button :app="app" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import appMenuButton from '../components/MenuButton.vue';

export default {
    components: {
        appMenuButton,
    },
    data() {
        return {
            availableApps: ['drawing'],
        };
    },
    computed: {
        apps() {
            return this.$store.state.wrapper.apps
                .filter(app => this.availableApps.includes(app.manifest.name));
        },
    },
    mounted() {
        fetch(`${this.$store.getters['wrapper/serverUrl']}/api/apps`).then((res) => {
            res.json().then((apps) => {
                apps.forEach((app) => {
                    if (app.status === 'active') this.availableApps.push(app.name);
                });
            });
        });
    },
};
</script>

<style scoped lang="scss">
    @import "../assets/scss/variables";

    .menu {
        background: $darkblue;
        width:100%;
        min-height:100vh;
    }
</style>
