<template>
  <div>

      <md-dialog :md-active.sync="showDialog">
      <md-dialog-title>Change Position</md-dialog-title>

      <md-field>
        <label>position</label>
        <md-input type="number" v-model="position"></md-input>
      </md-field>

      <md-dialog-actions>
        <md-button class="md-primary" @click="closeDialog">Close</md-button>
        <md-button class="md-primary" @click="changeValue">Update</md-button>
      </md-dialog-actions>
    </md-dialog>

    <div v-if="state=='RUN'">
    <div class="row">
      <div class="col-12">
        <card :title="table1.title">
          <div class="table-responsive">
            <BaseTableQueue
              v-on:edit="editQueue"
              v-on:show="showQueue"
              v-on:delete="deleteQueue"
              :data="table1.data"
              :columns="table1.columns"
              thead-classes="text-primary"
            ></BaseTableQueue>
          </div>
        </card>
      </div>
    </div>
    </div>


    <!-- Show ALL DATA SESSION -->
    <div v-else-if="state=='SHOW'">
     
        <ShowQueue :position ="exampleDataShow.position" :player ="exampleDataShow.player" :application ="exampleDataShow.app"  v-on:cancel="stateRun" />

    </div>


  </div>
</template>

<script>
import BaseTableQueue from "@/components/BaseTableQueue";
import { BaseTable } from "@/components";
import Modal from "@/components/Modal";
import NotificationTemplate from "@/pages/Notifications/NotificationTemplate";
import { BaseAlert } from "@/components";
import "vue-material/dist/vue-material.min.css";
import { userService } from "@/helpers/user.services";
import ShowQueue from "@/pages/Queue/ShowQueue";

const tableColumns = ["Player","Position","Application"];

const tableData = [
  {
    /*player : "user123",
    application : "Drawing",
    position : "1",*/
  }
];

export default {
  components: {
    BaseTableQueue,
    Modal,
    BaseAlert,
    NotificationTemplate,
    ShowQueue
  },

  data() {
    return {
      table1: {
        title: "Queue",
        columns: [...tableColumns],
        data: [...tableData]
      },
      showDialog: false,
      position : "",
      selectedQueue : {},
      state: "RUN", //RUN - SHOW
            exampleDataShow : {
        "player": {
          "username": "string",
          "status": "active"
        },
        "app": {
          "name": "string",
          "logo": "string",
          "description": "string",
          "version": 0,
          "homepage": "string",
          "authors": [
          {
            "name": "string",
            "email": "string",
            "homepage": "string"
          }
      ],
      "status": "active"
    },
      "position": 0,
    },
    };
  },

  methods: {

    // Change the state to RUN 
    stateRun() {
      this.state = "RUN";
    },

    closeDialog() {
      this.showDialog= false;
      this.position = "";
    },

    changeValue(){

      userService.patchQueuePosition(this.selectedQueue.position,this.position).then(val => {

         if(val.status === 204){
            this.selectedQueue.position = this.position;
         }
       })

      this.closeDialog();
    },

    editQueue(element){
      console.log(element);
       this.selectedQueue = element;
      this.position = this.selectedQueue.position ;
      console.log(this.position);
      this.showDialog = true;
    },

    showQueue(element){
      console.log(element);
      this.state = "SHOW";
    },

    deleteQueue(element){
      if (confirm(`Do you want to delete the queue ${element.position}`)) {
      
       userService.deleteQueuePosition(element.position).then(val => console.log(val))
        .catch(err => console.log(err));
      }
    },

    loadElement() {

      userService
        .getQueue()
        .then(res => res.json())
        .then(val => {
          console.log(val);
          this.table1.data = val;
      });
      
    }

  },
    beforeMount() {
    this.loadElement();
  }
};
</script>

<style lang="scss" scoped>
.md-dialog {
  padding: 30px;
  max-width: 80%;
  min-width: 50%;
}
</style>