 <template>
  <div>

    <card>
      <h5 id="player" slot="header" class="title">Position</h5>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input label="Position" placeholder="Position" :value="position" ></base-input>
      </div>
    </div>
    </card>
    
    <card>
      <h5 id="player" slot="header" class="title">Player</h5>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input label="Username" placeholder="Username" :value="player.username"></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input label="Status" placeholder="active/inactive/banned" :value="player.status"></base-input>
      </div>
    </div>


    </card>

    <card>
      <h5 id="player" slot="header" class="title">Application</h5>

       <!--<div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="Id"
                  placeholder="Id"
                  :value="player.id">
            </base-input>
        </div>
      </div>-->

      <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="Name"
                  placeholder="Name"
                  :value="application.name">
            </base-input>
        </div>
      </div>
       
    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="description"
                  placeholder="description"
                  :value="application.description">
            </base-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="logo"
                  placeholder="logo"
                   :value="application.logo">
            </base-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="homepage"
                  placeholder="homepage"
                  :value="application.homepage">
            </base-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="authors"
                  placeholder="authors"
                  value="">
            </base-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="version"
                  placeholder="version"
                   :value="application.version">
            </base-input>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="status"
                   placeholder="active/inactive/banned"
                   :value="application.status">
            </base-input>
        </div>
    </div>
    </card>

   

    <base-button @click="cancel()" slot="footer" type="primary" fill>Cancel</base-button>
  </div>
</template>
<script>
export default {
  name: "ShowSession",

  props: {
    player: {
      type: Object,
      default: () => {
        return {};
      }
    },

    application: {
      type: Object,
      default: () => {
        return {};
      }
    },

    position: {
      type: Number,
      default: () => {
        return {};
      }
    }
  },

  // State
  data() {
    return {
      userShow: {
        username: "this.user.username",
        role: "this.user.role"
      }
    };
  },

  methods: {
    cancel() {
      this.$emit("cancel");
    }
  }
};
</script>
<style>
</style>
