<template>
    <div id="app">
        <notifications />
        <!--
        <router-link v-for="route in $store.state.apps"
                     :key="route.key" :to="{ name: route.manifest.name }">
            <img :src="route.logo" />
            {{ route.manifest.name }}
        </router-link>
        -->
        <router-view/>
    </div>
</template>

<script>
import bus from './event';

export default {
    mounted() {
        this.$router.options.routes.forEach((route) => {
            this.routes.push(route);
        });
        bus.$on('disconnected', () => {
            this.$toasted.info('Vous avez été déconnecté');
            this.$router.push({ name: 'menu' });
        });
        bus.$on('session-end', () => {
            this.$toasted.info('Votre session est terminée');
            this.$router.push({ name: 'menu' });
        });
        bus.$on('message', ({ title, level, content }) => {
            const message = `<b>${title}</b><br/>${content}`;
            if (level === 'info') this.$toasted.info(message);
            else this.$toasted.error(message);
        });
    },
    data() {
        return {
            routes: [],
        };
    },
};
</script>
