<template>
  <div>
    <!--Dialog Message -->
    <md-dialog :md-active.sync="showDialog" md-autogrow>
      <md-dialog-title>Send a message for application : {{this.currentDisplayer.name}}</md-dialog-title>

      <md-field>
        <label>Title</label>
        <md-input v-model="title"></md-input>
      </md-field>

      <md-field>
        <label>Content</label>
        <md-textarea v-model="content" md-autogrow></md-textarea>
      </md-field>

      <md-field>
        <label for="movie">Level</label>
        <md-select v-model="level" name="level" id="level">
          <md-option value="info">info</md-option>
          <md-option value="warning">warning</md-option>
          <md-option value="error">error</md-option>
        </md-select>
      </md-field>

      <md-dialog-actions>
        <md-button class="md-primary" @click="closeDialog">Close</md-button>
        <md-button class="md-primary" @click="sendMessage">Send</md-button>
      </md-dialog-actions>
    </md-dialog>

    <!-- Dashboard for displayers -->
    <div v-if="state=='RUN'">
      <div id="rowTools">
        
        <!--<base-button
          :disabled="!(this.$store.getters.getUser.role === 'admin' || 
          this.$store.getters.getUser.role === 'moderator' )"
          style="margin-right: 10px;"
          @click="clickBtnAddDisplayer()"
          class="tim-icons icon-simple-add"
          type="primary"
          fill
        ></base-button>-->

        <base-button
          :disabled="!(this.$store.getters.getUser.role === 'admin' || 
          this.$store.getters.getUser.role === 'moderator' )"
          style="margin-right: 10px;"
          @click="startDisplayers()"
          class="tim-icons icon-triangle-right-17"
          type="primary"
          fill
        ></base-button>
        <base-button
          style="margin-right: 10px;"
          @click="seeScreens()"
          class="tim-icons icon-tv-2"
          type="primary"
          fill
        ></base-button>
      </div>

      <div id="rowDisplyerCard" class="row">
        <DisplayerCard
          v-for="(displayer) in data"
          :key="displayer.name"
          :visibleScreen="visibleAllScreens"
          :displayer="displayer"
          v-on:edit="clickEditBtn(displayer)"
          v-on:delete="clickDeleteBtn(displayer)"
          v-on:send="clickSendMessage(displayer)"
        />
      </div>
    </div>

    <!-- Edit displayer -->
    <div v-else-if="state=='EDIT'">
      <EditDisplayer
        :displayer="this.currentDisplayer"
        v-on:cancel="stateRun"
        v-on:update="updateDisplayer"
      />
    </div>

    <!-- Create displayer-->
    <div v-else-if="state=='CREATE'">
      <CreateDisplayer v-on:cancel="stateRun" v-on:create="createDisplayer"/>
    </div>
  </div>
</template>

<script>
import DisplayerCard from "@/components/Cards/DisplayerCard";
import EditDisplayer from "@/pages/Displayer/EditDisplayer";
import CreateDisplayer from "@/pages/Displayer/CreateDisplayer";
import { userService } from "@/helpers/user.services";

export default {
  name: "Displayer",

  components: {
    DisplayerCard,
    EditDisplayer,
    CreateDisplayer
  },

  data() {
    return {
      data: [],
      state: "RUN", //RUN - EDIT - CREATE
      currentDisplayer: {},
      visibleAllScreens: false,
      showDialog: false,
      title: "",
      content: "",
      level: ""
    };
  },

  methods: {
    stateRun() {
      this.state = "RUN";
    },

    closeDialog() {
      this.showDialog = false;
      this.title = "";
      this.content = "";
      this.level = "";
    },

    sendMessage(){

      //this.currentDisplayer

        if (this.title != "" && this.content != "" && this.level) {
        
        console.log("SEND MESSAGES for one" + this.currentDisplayer.name);

        userService
          .postMessageDisplayer(this.title, this.content, this.level,this.currentDisplayer.name)
          .then(val => console.log(val))
          .catch(err => console.error(err));

           this.closeDialog();
      }
    },

    createDisplayer(displayer) {
      console.log(displayer);
      userService
        .postDisplayer(
          displayer.name,
          displayer.location,
          displayer.width,
          displayer.height,
          displayer.password
        )
        .then(val => {
          if (val.status === 200 || val.status === 201) {
            this.data.push(displayer);
            this.stateRun();
          } else {
            alert(`Status ${val.status}`);
          }
        });
    },

    clickBtnAddDisplayer() {
      this.state = "CREATE";
    },

    clickSendMessage(displayer){
      this.currentDisplayer = displayer;
      this.showDialog = true;
    },

    // DeleteDisplayer
    clickDeleteBtn(displayer) {
      if (confirm(`Do you want to delete the displayer ${displayer.name}`)) {
        userService.deleteDisplayer(displayer.name).then(val => {
          if (val.status === 200) {
            let index = this.data.findIndex(x => x.id === displayer.id);
            this.data.splice(index, 1);
          } else {
            alert(`Status ${val.status}`);
          }
        });
      }
    },

    clickEditBtn(displayer) {
      this.currentDisplayer = displayer;
      this.state = "EDIT";
    },

    // Start all the displayers
    startDisplayers() {
      for (let x = 0; x < this.data.length; x++) {
        this.data[x].status = "enabled";
      }
    },

    seeScreens() {
      this.visibleAllScreens = !this.visibleAllScreens;
    },

    updateDisplayer(displayerEdit) {
      userService
        .patchDisplayer(
          displayerEdit.name,
          displayerEdit.location,
          displayerEdit.width,
          displayerEdit.height,
          displayerEdit.status
        )
        .then(val => {
          if (val.status === 204) {
            console.log(val);
            this.displayer = displayerEdit;
          } else {
            alert(`Status ${val.status}`);
          }
        });

      this.state = "RUN";
    },

    loadElement() {
      userService
        .getDisplayers()
        .then(res => res.json())
        .then(val => {
          console.log(val);
          this.data = val;
        });
    }
  },
  beforeMount() {
    this.loadElement();
  }
};
</script>

<style lang="scss" scoped>
.md-dialog {
  padding: 30px;
  max-width: 80%;
  min-width: 50%;
}
</style>
