<template>
  <card>
    <h5 slot="header" class="title">Edit Displayer</h5>

   <!-- <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input disabled label="Name" placeholder="Name" v-model="displayer.name"></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input label="Location" placeholder="Location" v-model="displayer.location"></base-input>
      </div>
    </div>
    -->
    
    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input label="Width" placeholder="Width" v-model.number="displayer.width"></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input label="Height" placeholder="Height" v-model.number="displayer.height"></base-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input label="Status" placeholder="active/inactive/banned" v-model="displayer.status"></base-input>
      </div>
    </div>

    <base-button
      style="margin-right : 5px;"
      @click="update()"
      slot="footer"
      type="primary"
      fill
    >Update</base-button>
    <base-button @click="cancel()" slot="footer" type="primary" fill>Cancel</base-button>
  </card>
</template>
<script>
export default {
  props: {
    displayer: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  methods: {
    update() {
      if (
        this.displayer.name != "" &&
        this.displayer.location != "" &&
        this.displayer.width != 0 &&
        this.displayer.height != 0
      ) {
        if (
          this.displayer.status === "active" ||
          this.displayer.status === "inactive" ||
          this.displayer.status === "banned"
        ) {
          // Return the new displayer
          this.$emit("update", this.displayer);
        } else {
          alert("Incorrect Status");
        }
      } else {
        alert("Field must not be null");
      }
    },

    cancel() {
      this.$emit("cancel", this.displayer);
    }
  }
};
</script>
<style>
</style>
