<template>
  <div>
    <notifications></notifications>
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script>
export default {
    methods: {
        disableRTL() {
            if (!this.$rtl.isRTL) {
                this.$rtl.disableRTL();
            }
        },
        toggleNavOpen() {
            let root = document.getElementsByTagName('html')[0];
            root.classList.toggle('nav-open');
        }
    },
    mounted() {
        this.$watch('$route', this.disableRTL, { immediate: true });
        this.$watch('$sidebar.showSidebar', this.toggleNavOpen)
    },


    beforeMount() {

        //Check if a token exist
        let token = JSON.parse(localStorage.getItem(`user`));
        
        if(token){
            console.log("Token exist");
        }
        else{
             console.log("Token not exist");
        }
    }
};
</script>

<style lang="scss"></style>
