<template>
  <!--<fade-transition>-->
  <div id="displayer" class="col-lg-4">
    <!--v-if="visible"-->
    <card>
      <h5 class="card-category">Displayer {{displayer.name}}</h5>

      <div class="displayerInfo row">
        <p>{{displayer.location}}</p>
      </div>

      <div v-if="visibleScreenData" class="displayerScreen row">
        <p>screen</p>
      </div>

      <div class="displayerBtn row">
        
        <!--<div v-if="displayer.status=='enabled'">
          <base-button
            :disabled="this.$store.getters.getUser.role !== 'admin'"
            @click="startDisplayer()"
            size="sm"
            class="tim-icons icon-triangle-right-17"
            slot="footer"
            type="success"
            fill
          ></base-button>
        </div>
        <div v-else>
          <base-button
            :disabled="this.$store.getters.getUser.role !== 'admin'"
            @click="startDisplayer()"
            size="sm"
            class="tim-icons icon-triangle-right-17"
            slot="footer"
            type="warning"
            fill
          ></base-button>
        </div>-->

        <div>
          <base-button
            :disabled="!(this.$store.getters.getUser.role === 'admin' || 
            this.$store.getters.getUser.role === 'moderator' )"
            @click="editDisplayer()"
            size="sm"
            class="tim-icons icon-pencil"
            slot="footer"
            type="primary"
            fill
          ></base-button>
        </div>
        <div>
          <base-button
            @click="seeScreen()"
            size="sm"
            class="tim-icons icon-tv-2"
            slot="footer"
            type="primary"
            fill
          ></base-button>
        </div>
        <div>
          <base-button
            :disabled="!(this.$store.getters.getUser.role === 'admin' || 
            this.$store.getters.getUser.role === 'moderator' )"
            @click="deleteDisplayer()"
            size="sm"
            class="tim-icons icon-trash-simple"
            slot="footer"
            type="primary"
            fill
          ></base-button>
        </div>
        
        <div>
          <base-button
            :disabled="!(this.$store.getters.getUser.role === 'admin' || 
            this.$store.getters.getUser.role === 'moderator' )"
            @click="kickPlayer()"
            size="sm"
            class="tim-icons icon-bell-55"
            slot="footer"
            type="primary"
            fill
          ></base-button>
        </div>
        <div>
          <base-button
            :disabled="!(this.$store.getters.getUser.role === 'admin' || 
            this.$store.getters.getUser.role === 'moderator' )"
            @click="sendMessage()"
            size="sm"
            class="tim-icons icon-chat-33"
            slot="footer"
            type="primary"
            fill
          ></base-button>
        </div>
      </div>
    </card>
  </div>
  <!--</fade-transition>-->
</template>
<script>
import { FadeTransition } from "vue2-transitions";

export default {
    name: "DisplayerCard",
    components: {
        FadeTransition
    },
    props: {
        displayer: Object,
        visibleScreen : false
    },
    data() {
        return {
            //visible: true,
            visibleScreenData: this.visibleScreen,
            // displayerState: true
        };
    },
    methods: {
        deleteDisplayer() {
            this.$emit("delete");
        },

        seeScreen() {
            this.visibleScreenData = !this.visibleScreenData;
        },

        startDisplayer() {
            this.displayer.status = (this.displayer.status=='enabled' ? 'disabled' : 'enabled');
        },

        editDisplayer() {
            this.$emit("edit");
        },

        kickPlayer() {
            console.log("Child - kickPlayer");
            console.log(this.visibleScreenData);
        },
        sendMessage(){
            console.log("send Message");
             this.$emit("send");
        },
    },
    watch: {
        visibleScreen: function (val) {
            this.visibleScreenData =  val;
        }
    },
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
